body {margin: 0; padding: 0;}

/*on formate le header avec ses boutons cliquables*/
#header {
	display: flex;
	height: 50px;
	background-color: rgba(140, 140, 140, 0.7);
}

#header a, img {
	margin: auto;
	text-decoration: none;
}

/*on fait apparaitre les images et le texte quand on clique sur les boutons*/
.onglets {
	display: none;
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;
}

.onglets:target {
	display: block;
}

.onglets img {
	width: 100%;
}

/*cette boite sert a centrer le texte*/
.onglets .text {
	position: absolute;
	top: 150px;
	width: 100%;
}

.onglets p {
	position: relative;
	text-align: center;
}

/*le slide*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

/*pour que le slide soit calé sous le header en haut*/
#slide {
	position: absolute;
	top: 0px;
	z-index: -2;
}

/*caler le texte au dessus du slide*/
#slide p {
	position: absolute;
	top: 200px;
	width: 100%;
	background-color: rgba(153, 153, 153, 0.5);
	text-align: center;
	z-index: 3;
}

#cadre img { width: 20%; float: left; }
#cadre { 
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 20s slidy infinite; 
}

/*la carte du monde*/
#tour .vignette {
	position: absolute;
}

.vignette p {
	text-align: left;
	background-color: rgba(255, 102, 0, 0.8);
	padding: 5px;
	border-radius: 5px;
}

.windows {
	display: none;
	position: relative;
	left: 0px;
	background-color: rgba(100, 100, 100, 0.4);
	padding: 10;
	border: 1px solid #777;
	border-radius: 10px;
	width: 200px;
	z-index: 10;
}

p:hover + .windows {
	display: block;
}

.windows:hover {
	display: block;
}

.windows img {
	display: flex;
	width: 100%;
	margin: auto;
}

#un {
	left: 10%;
	top: 30%;
} 

#deux {
	left: 65%;
	top: 25%;
} 

#trois {
	left: 80%;
	top: 15%;
} 

#quatre {
	left: 50%;
	top: 20%;
} 
